@{
    ViewData["Title"] = "Каталог фильмов";
}

@section Styles {
    <link rel="stylesheet" href="/node_modules/paginationjs/dist/pagination.css" />
}

@section Scripts {
    <script src="/node_modules/paginationjs/src/pagination.js"></script>
    <script src="~/js/catalogPagin.js"></script>
}

<div class="d-flex justify-content-between align-items-center my-3">
    <a type="button" class="btn btn-sm btn-outline-secondary" asp-action="Add" asp-controller="Film">
        <font style="vertical-align: inherit;">Добавить фильм</font>
    </a>
</div>

<main>
    <div class="album py-5 bg-light">
        <div class="container">
            <div id="films" class="card-deck">
                
            </div>
        </div>
    </div>
 </main>

<div id="pagination-container"></div>

<div id="template" visibility: hidden>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow text-center justify-content-center">
            <img class="card-img-top poster-film" data-src="" alt="" style="height: 450px; width: 100%; display: block;" src="">
            <div class="card-body">
                <p class="card-text" style="vertical-align: inherit;">
                    <div><span class="name-film font-weight-bold"></span></div>
                    <div><span class="year-film"></span></div>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a type="button" class="btn-view btn btn-sm btn-outline-secondary" asp-action="Index" asp-controller="Film">
                            <font style="vertical-align: inherit;">Подробнее</font>
                        </a>
                        <a type="button" class="btn-update btn btn-sm btn-outline-secondary d-none" asp-action="Update" asp-controller="Film">
                            <font style="vertical-align: inherit;">Редактировать</font>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>